{
  "Prod": false,
  "GithubOAuth": {
    "clientID": "",
    "clientSecret": ""
  },
  "RepoPath": "/home/victor/repos/",
  "BlihSSH": "git@git.epitech.eu",
  "URL": "http://localhost:8080",
  "Database": {
    "Name": "sqlite3",
    "Parameter": "gorm.db"
  }
}